trigger: none

pool: App2   # self-hosted agent

steps:

# 1. npm install
- task: PowerShell@2
  displayName: "Install Node Packages"
  inputs:
    targetType: 'inline'
    script: |
      npm install

# 2. npm build
- task: PowerShell@2
  displayName: "Build Project"
  inputs:
    targetType: 'inline'
    script: |
      npm run build

# 3. Create ZIP
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true

# 4. Upload ZIP to Azure Storage Container
- task: AzureCLI@2
  displayName: "Upload ZIP to Azure Storage"
  inputs:
    azureSubscription: 'deploy'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az storage blob upload \
        --account-name lalli221 \
        --container-name lalli \
        --name build.zip \
        --file "$(System.DefaultWorkingDirectory)/build.zip" \
        --auth-mode login
