trigger: none

pool: App   # tumhara self-hosted pool

steps:
- script: |
    sudo apt-get update
    sudo apt-get install -y powershell
  displayName: "Install PowerShell Core (pwsh)"

- task: PowerShell@2
  displayName: 'Install Node Packages (npm install)'
  inputs:
    targetType: 'inline'
    script: |
      npm install

- task: PowerShell@2
  displayName: 'Build Project (npm run build)'
  inputs:
    targetType: 'inline'
    script: |
      npm run build

