trigger: none

pool: App  # your VM agent

steps:

# 1. Install Node Packages
- task: PowerShell@2
  displayName: "Install Node Packages"
  inputs:
    targetType: 'inline'
    script: |
      npm install

# 2. Build Project
- task: PowerShell@2
  displayName: "Build Project"
  inputs:
    targetType: 'inline'
    script: |
      npm run build

# 3. Publish Build Artifact
- task: PublishBuildArtifacts@1
  displayName: "Publish Artifact"
  inputs:
    PathtoPublish: 'dist'
    ArtifactName: 'drop'
