trigger: none

pool: App

steps:

# 1. prerequisites
- script: |
    sudo apt-get update
    sudo apt-get install -y wget apt-transport-https software-properties-common
  displayName: "Install prerequisites"

# 2. add MS repo
- script: |
    wget https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb
    sudo dpkg -i packages-microsoft-prod.deb
    sudo apt-get update
  displayName: "Add Microsoft repo"

# 3. install pwsh
- script: |
    sudo apt-get install -y powershell
  displayName: "Install PowerShell Core (pwsh)"

# 4. npm install
- task: PowerShell@2
  displayName: 'Install Node Packages'
  inputs:
    targetType: 'inline'
    script: |
      npm install

# 5. npm build
- task: PowerShell@2
  displayName: 'Build Project'
  inputs:
    targetType: 'inline'
    script: |
      npm run build
