trigger: none

pool: App

steps:
- task: PowerShell@2
  displayname: NPM install
  inputs:
    targetType: 'inline'
    script: 'npm install'

- task: PowerShell@2
  displayname: NPM build
  inputs:
    targetType: 'inline'
    script: 'npm run build'
