trigger: none

pool: App2   # your self-hosted VM agent

steps:

# 1. npm install
- task: PowerShell@2
  displayName: "Install Node Packages"
  inputs:
    targetType: 'inline'
    script: |
      npm install

# 2. npm build
- task: PowerShell@2
  displayName: "Build Project"
  inputs:
    targetType: 'inline'
    script: |
      npm run build
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true



