trigger: none

pool: App   # tumhara self-hosted pool

steps:
- script: |
    sudo apt-get update
    sudo apt-get install -y wget apt-transport-https software-properties-common

    # Microsoft repo add
    wget -q https://packages.microsoft.com/config/ubuntu/22.04/packages-microsoft-prod.deb
    sudo dpkg -i packages-microsoft-prod.deb
    sudo apt-get update

- task: PowerShell@2
  displayName: 'Install Node Packages (npm install)'
  inputs:
    targetType: 'inline'
    script: |
      npm install

- task: PowerShell@2
  displayName: 'Build Project (npm run build)'
  inputs:
    targetType: 'inline'
    script: |
      npm run build

