trigger: 
  - develp

pool: App2   # self-hosted agent

steps:

# 1. npm install
- task: PowerShell@2
  displayName: "Install Node Packages"
  inputs:
    targetType: 'inline'
    script: |
      npm install

# 2. npm build
- task: PowerShell@2
  displayName: "Build Project"
  inputs:
    targetType: 'inline'
    script: |
      npm run build

# 3. Create ZIP
- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(System.DefaultWorkingDirectory)/build.zip'
    artifact: 'todoui'
    publishLocation: 'pipeline'
